{% assign author = site.data.authors[include.author] %}
{% assign date = include.date %}

<div class="post-info">
  {%- if author.url -%}<a href="{{ author.url | relative_url }}" target="_blank">{%- endif -%}
    {% if author.avatar  %}
      <img src="{{ author.avatar | relative_url }}">
    {% endif %}
    <p class="meta">
      {% if author.name %}{{ author.name }} - {% endif %}
      {% assign month = date | date: "%-m" %}
      {% case month %}
        {% when '1' %}Styczeń
        {% when '2' %}Luty
        {% when '3' %}Marzec
        {% when '4' %}Kwiecień
        {% when '5' %}Maj
        {% when '6' %}Czerwiec
        {% when '7' %}Lipiec
        {% when '8' %}Sierpień
        {% when '9' %}Wrzesień
        {% when '10' %}Październik
        {% when '11' %}Listopad
        {% when '12' %}Grudzień
      {% endcase %}
      {{ date | date: "%Y" }}
    </p>
  {%- if author.url -%}</a>{%- endif -%}
</div>
